@font-face {
  font-family: "iconfont"; /* Project id 4800092 */
  src: url('iconfont.woff2?t=1735972446992') format('woff2'),
       url('iconfont.woff?t=1735972446992') format('woff'),
       url('iconfont.ttf?t=1735972446992') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e615";
}

.icon-liebiao:before {
  content: "\e60e";
}

.icon-caidan:before {
  content: "\e898";
}

.icon-jiantou:before {
  content: "\e799";
}

.icon-daima:before {
  content: "\e601";
}

.icon-duoyanghua:before {
  content: "\e600";
}

.icon-anquan:before {
  content: "\e63e";
}

.icon-fasong:before {
  content: "\e636";
}

.icon-gitee:before {
  content: "\e602";
}

.icon-github:before {
  content: "\e64c";
}

